/** General **/

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 12px;
}

@media(min-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  --beige: #fff4d9;
  --black: #22221F;
  --white: #ffffff;
  font-family: "lemonde-journal", serif;
}

h1, p, img {
  width: 100%;
}

img {
  display: block;
}

p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 150%;
  margin-bottom: 2rem;
  font-weight: 300;
}

p.small {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
}

.front-cover,
.back-cover {
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media(orientation: landscape) {
  .front-cover,
  .back-cover {
    width: 50%;
    float: left;
  }
}

@media(min-width: 768px) {
  .front-cover,
  .back-cover {
    padding: 3rem;
    align-items: center;
  }
  .front-cover > *,
  .back-cover > * {
    max-width: 35rem;
  }
}

/** Front **/

.front-cover {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}

@media(min-width: 768px) {
  .front-cover {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.title {
  font-family: "bely", serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 1.75rem;
}

.photo-container {
  flex-grow: 1;
  display: block;
  position: relative;
  width: 100%;
  margin-top: 4rem;
}

.photo {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.read-more {
  padding-top: 2rem;
  margin: 0;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  align-items: stretch;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

@media(orientation: landscape) {
  .read-more {
    display: none;
  }
}

/** Back **/

.back-cover {
  background-color: var(--beige);
  color: var(--black);
  justify-content: flex-end;
}